@font-face {
    font-family: 'roboto';
    src: url('{{font_path}}/assets/fonts/roboto/roboto-regular.eot');
    src: url('{{font_path}}/assets/fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'), url('{{font_path}}/assets/fonts/roboto/roboto-regular.woff2') format('woff2'), url('{{font_path}}/assets/fonts/roboto/roboto-regular.woff') format('woff'), url('{{font_path}}/assets/fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: 'normal';
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('{{font_path}}/assets/fonts/roboto/roboto-bold.eot');
    src: url('{{font_path}}/assets/fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'), url('{{font_path}}/assets/fonts/roboto/roboto-bold.woff2') format('woff2'), url('{{font_path}}/assets/fonts/roboto/roboto-bold.woff') format('woff'), url('{{font_path}}/assets/fonts/roboto/roboto-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: 'bold';
    font-display: swap;
}