.admin-bar nav.sticky-top,
.admin-bar nav.fixed-top {
	top: 32px;
}

@media screen and (max-width: 782px) {

	.admin-bar nav.sticky-top,
	.admin-bar nav.fixed-top {
		top: 46px;
	}
}

#navbar {
	box-sizing: border-box;
	background-color: var(--wp--custom--cabb-navbar-background-color) !important;
}

#navbar[data-adapt-to-hero="true"].collapsed.cabb-adapt {
	background-color: transparent !important;
}

#navbar .logo {
	max-width: 70vw;
	height: auto;
}

#navbar[data-adapt-to-hero-hide-logo="true"] .logo {
	visibility: hidden;
	max-width: 70vw;
}