/* Footer */

footer {
    position: relative;
    background-color: var(--wp--custom--cabb-footer-background-color);
    color: var(--wp--custom--cabb-footer-text-color);
    padding-left: var(--wp--custom--cabb-block-padding-x);
    padding-right: var(--wp--custom--cabb-block-padding-x);
    padding-bottom: var(--wp--custom--cabb-block-padding-x);
    padding-bottom: var(--wp--custom--cabb-block-padding-y);
}

footer>* {
    width: var(--wp--custom--cabb-block-content-wide-size);
    padding: calc(var(--wp--style--block-gap)/2) 0;
    max-width: 100%;
    margin: 0 auto;
}