header * {
    box-sizing: border-box;
}

header>* {
    width: var(--wp--custom--cabb-block-content-wide-size);
    padding: calc(var(--wp--style--block-gap)/4) 0;
    max-width: 100%;
    margin: 0 auto;
    max-width: 90%;
}
