.cabb-block.carousel .carousel-item img.background {
    object-fit: cover;
    height: 100%;
    object-position: center center;
}

.cabb-block.carousel .carousel-indicators [data-bs-target] {
    position: relative;
    height: 100px;
    width: 200px;
    border: none;
    border-radius: 24px;
    background: none;
    border-radius: 0;
}

.cabb-block.carousel .carousel-indicators [data-bs-target] span {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.cabb-block.carousel .carousel-indicators [data-bs-target] span img {
    display: inline-block;
    margin: 0;
    padding: 0;
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

/** editor style */
.cabb-block.carousel .carousel-inner .carousel-item>.block-editor-block-list__block {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}

/** End editor style */

.cabb-block.carousel .carousel-inner .item-inner {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}