.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
    margin: auto !important;
    color: #000000;
    background: #ffffff;
    margin: 0px -8px 0 -8px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.edit-post-visual-editor__post-title-wrapper h1 {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    min-width: 300px !important;
    padding: 4px 8px !important;
    margin: 18px 8px 17px 8px !important;
    box-sizing: border-box !important;
    font-size: 13px !important;
    line-height: 1.4 !important;
    font-weight: normal !important;
    box-shadow: 0 0 0 transparent !important;
    border-radius: 4px !important;
    border: 1px solid #8c8f94 !important;
    background-color: #fff !important;
    color: #2c3338 !important;
    display: inline-block !important;
}
