.cabb-block.grid.container {
    display: flex;
    flex-direction: column;
}

.wp-block-acf-grid-row .block-editor-block-list__layout {
    display: flex;
    width: 100%
}

.wp-block-acf-grid-row .block-editor-block-list__block .block-list-appender {
    width: 100%;
}

.wp-block-acf-grid .block-editor-block-list__block .block-list-appender.block-list-appender {
    width: 25px;
    height: 25px;
}

.wp-block-acf-grid>div>.block-list-appender.block-list-appender {
    position: absolute;
    top: calc(100% - 29px);
    left: calc(50% - 11px);
    display: block;
}


.wp-block-acf-grid-row>div>.block-list-appender.block-list-appender {
    display: block;
    position: absolute;
    top: calc(50% - 15px);
    right: -27px;
}

/* Admin preview */
.block-editor-block-list__block.wp-block-acf-grid .cabb-block {
    max-width: 100% !important;
    width: 100%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-auto) {
    flex: 0 0 auto;
    width: auto;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-1) {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-2) {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-3) {
    flex: 0 0 auto;
    width: 25%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-4) {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-5) {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-6) {
    flex: 0 0 auto;
    width: 50%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-7) {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-8) {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-9) {
    flex: 0 0 auto;
    width: 75%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-10) {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-11) {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.block-editor-page .wp-block-acf-grid-column:has(.col-12) {
    flex: 0 0 auto;
    width: 100%;
}

.block-editor-page .grid-row>div {
    display: contents;
}

.block-editor-page .grid-column.col {
    flex-direction: column;
}

.block-editor-page .wp-block-acf-grid-row .grid-row.row {
    margin-right: auto;
    margin-left: auto;
}